.header-bar {
  --language-height: 1rem;
  --language-width: calc(4 / 3 * var(--language-height));
  --language-switcher-padding: .5rem;
  --language-switcher-width: calc(var(--language-width) * var(--languages-number) + var(--language-switcher-padding));

  background-color: var(--primary-neutral-darkest);
  color: var(--primary-neutral-lightest);

  display: grid;
  grid-template: "padding title language-switcher" 1fr / var(--language-switcher-width) 1fr var(--language-switcher-width);

  .header {
    grid-area: title;
    margin: 0;
    padding: 1rem 0;
    text-align: center;
  }

  .language-switcher {
    grid-area: language-switcher;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--language-switcher-padding);
  }

  .language {
    padding: 0;
    margin: 0;
    border: none;
    cursor: pointer;
    filter: brightness(60%);
    height: var(--language-height);
    width: var(--language-width);
  }

  .language[disabled] {
    filter: brightness(100%);
    cursor: auto;
  }

  .flag {
    height: var(--language-height);
    width: var(--language-width);
  }
}

.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-neutral-lighter);
  padding: .5rem 0;
}

.nav-element {
  color: var(--primary-neutral-darker);
  text-decoration: none;
  padding: .5rem;
  border: 1px solid var(--primary-neutral-darkest);
  outline: none;

  &.active {
    background-color: var(--secondary-neutral-lighter);
    cursor: default;
  }

  &.inactive {
    background-color: var(--primary-neutral-lightest);
  }
}

.nav-element:not(:first-child) {
  border-left: none;
}

.nav-element:first-child {
  border-radius: .5rem 0 0 .5rem;
}

.nav-element:last-child {
  border-radius: 0 .5rem .5rem 0;
}

.nav-element:visited {
  color: var(--primary-neutral-darker);
}
