@import '../colors/theme';

@mixin label() {
  --label-width: 4rem;
  --label-arrow-width: .5rem;
  --label-font-size: calc(var(--row-height) * .45);
  --margin-left: 0.1rem;

  font-size: var(--label-font-size);
  line-height: var(--row-height);
  padding-left: .7em;
  text-align: left;

  position: absolute;

  color: var(--secondary-light);
  background-color: var(--primary-neutral-darkest);

  left: var(--margin-left);
  height: var(--row-height);
  right: 0;

  clip-path: polygon(
      0 0,
      var(--label-width) 0,
      calc(var(--label-width) + var(--label-arrow-width)) calc(50% - 1px),
      100% calc(50% - 1px),
      100% calc(50% + 1px),
      calc(var(--label-width) + var(--label-arrow-width)) calc(50% + 1px),
      var(--label-width) 100%,
      0 100%,
      0 0
  );

  z-index: 2;
}

.spinner-container {
  margin-top: 4rem;
}

.stats {
  --row-height: 2rem;
  --graph-height: calc(8 * var(--row-height));
  --graph-offset: calc(var(--graph-height) + (var(--row-height) * 3));

  .chart-title {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .graphs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .graph-container {
    min-width: calc(30 * var(--row-height));
    max-width: 90%;
    height: calc(var(--graph-offset) + (2 * var(--row-height)));
    overflow-x: auto;

    &::before { // Place-holder for the whole graph
      position: absolute;
      content: "";
      left: 0;
      width: 100%;
      height: var(--graph-offset);
      z-index: 1;
      background-color: var(--white);
    }
  }

  .chart {
    --circle-size: .7rem;
    --circle-half-size: calc(var(--circle-size) * .5);

    --row-half-height: calc(var(--row-height) / 2);

    border-collapse: collapse;
    position: relative;
    width: 80%;
    margin: 0 auto;
    font-size: 1px; // Hack, reduces the width of cells to nothing

    tr {
      th {
        text-align: center;
        height: var(--row-height);
        padding: 0;
      }

      td {
        text-align: center;
        height: var(--row-height);
        padding: 0;
      }
    }


    tr:not(hidden) { // Selected member's table row
      .labels {
        &::before { // Ruler for the scale's max
          @include label();
          content: var(--max-as-string);
          top: calc(var(--row-height));
        }

        &::after { // Ruler for the scale's 0
          @include label();
          content: '0';
          top: calc(var(--graph-height) + var(--row-height));
        }
      }
    }

    // One score
    .chart-value {
      position: relative;
      --ratio: calc((var(--max) - var(--value)) / var(--max));
      --top: calc((var(--ratio) * var(--graph-height)));
      --bullet-color: var(--secondary-neutral);

      .score-presenter {
        --stroke-size: .5rem;
        --half-stroke-size: calc(var(--stroke-size) / 2);
        padding: 0 0.2rem;
        display: block;
        min-width: var(--row-half-height);

        // Line start
        &::before {
          --previous-ratio: calc((var(--max) - var(--line-start-y)) / var(--max));
          --previous-y: calc((var(--previous-ratio) * var(--graph-height)));
          --y1: calc((var(--top) + var(--previous-y)) / 2);

          --y2: var(--top);

          position: absolute;
          content: "";
          background-color: var(--primary-neutral-darkest);
          left: 0;
          right: 0;
          top: 0;
          height: calc(var(--row-height) + var(--graph-height));

          clip-path: polygon(
              var(--line-start-x) calc(var(--y1) + var(--row-half-height) - var(--half-stroke-size)),
              50% calc(var(--y2) + var(--row-half-height) - var(--half-stroke-size)),
              50% calc(var(--y2) + var(--row-half-height) + var(--half-stroke-size)),
              var(--line-start-x) calc(var(--y1) + var(--row-half-height) + var(--half-stroke-size)),
              var(--line-start-x) calc(var(--y1) + var(--row-half-height) + var(--half-stroke-size))
          );

          z-index: 3;
        }

        // Line end
        &::after {
          --y1: var(--top);

          --next-ratio: calc((var(--max) - var(--line-end-y)) / var(--max));
          --next-y: calc((var(--next-ratio) * var(--graph-height)));
          --y2: calc((var(--top) + var(--next-y)) / 2);

          position: absolute;
          content: "";
          background-color: var(--primary-neutral-darkest);
          left: 0;
          right: 0;
          top: 0;
          height: calc(var(--row-height) + var(--graph-height));

          clip-path: polygon(
              50% calc(var(--y1) + var(--row-half-height) - var(--half-stroke-size)),
              var(--line-end-x) calc(var(--y2) + var(--row-half-height) - var(--half-stroke-size)),
              var(--line-end-x) calc(var(--y2) + var(--row-half-height) + var(--half-stroke-size)),
              50% calc(var(--y1) + var(--row-half-height) + var(--half-stroke-size)),
              50% calc(var(--y1) + var(--row-half-height) + var(--half-stroke-size))
          );

          z-index: 3;
        }
      }

      // Bullet point
      &::before {
        --border: calc(var(--circle-size) * .2);

        display: inline-block;
        position: absolute;

        content: "‎⬤";
        text-align: center;
        font-size: var(--circle-size);
        line-height: var(--row-height);

        color: var(--bullet-color);
        background-color: var(--primary-neutral-darkest);

        clip-path: circle(
            calc(var(--border) + var(--circle-half-size))
        );
        top: var(--top);
        left: calc(50% - (var(--row-height) / 2));
        width: var(--row-height);
        height: var(--row-height);

        z-index: 4;
      }

      // Tooltip
      &::after {
        --arrow-size: .25rem;
        --arrow: calc(100% - var(--arrow-size));
        --width: 5rem;

        position: absolute;
        top: calc((var(--ratio) * var(--graph-height)) + var(--row-height) - var(--arrow-size) - var(--circle-half-size));
        left: 50%;
        font-size: 1rem;
        width: var(--width);

        clip-path: polygon(
            0% 0%,
            100% 0%,
            100% var(--arrow),
            calc(50% - .25rem) var(--arrow),
            50% 100%,
            calc(50% + .25rem) var(--arrow),
            0% var(--arrow)
        );

        opacity: 0;
        transform-origin: 50% calc(100% + 10px);
        transform: translate3d(-50%, -125%, 0) perspective(1000px) rotate3d(1, 0, 0, 90deg);
        transition: opacity .2s cubic-bezier(0, .5, .5, 1),
        transform .2s cubic-bezier(0, .5, .5, 1);
        will-change: opacity, transform;

        color: var(--white);
        background-color: var(--primary-neutral-darkest);
        padding: .5em;
        content: var(--event) '\A' var(--value-as-string);
        white-space: pre;

        z-index: 5;
      }

      &:hover::after {
        opacity: 1;
        transform: translate3d(-50%, -125%, 0) perspective(1000px) rotate3d(1, 0, 0, 0deg);
        transition: opacity .2s cubic-bezier(.5, 0, 1, .5),
        transform .1s cubic-bezier(.5, 0, 1, .5);
      }
    }
  }
}
