@import '../colors/theme';

.spinner-container {
  margin-top: 4rem;
}

.stats {

  .graphs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 5%;
  }

  .chart-title {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .graph-container {
    --event-size: 2rem;

    --font-size: calc(var(--event-size) / 2);

    --label-height: var(--event-size);
    --label-width: calc(3 * var(--event-size));
    --label-arrow-size: calc(var(--label-height) / 2);
    --label-line-width: .1rem;
    --label-and-line-width: calc(var(--label-width) + var(--events-number) * var(--event-size));

    --tooltip-font-size: calc(.8 * var(--font-size));
    --tooltip-height: calc(var(--tooltip-font-size) * 4.8);
    --tooltip-width: calc(3 * var(--event-size));
    --tooltip-arrow-size: calc(var(--event-size) / 4);

    --width-height-ratio: 9;
    --graph-height: calc(var(--width-height-ratio) * var(--event-size));
    --drawable-graph-height: calc((var(--width-height-ratio) - 1) * var(--event-size));
    --line-width: calc(var(--event-size) / 10);

    --z-index-label: 0;
    --z-index-tendency: 1;
    --z-index-graph-line: 2;
    --z-index-bullet-points: 3;
    --z-index-tooltip: 4;
    --z-index-tooltip-trigger: 5;

    position: relative;
    width: 100%;
    height: calc(var(--graph-height) + var(--tooltip-height) + var(--tooltip-arrow-size));
    font-size: var(--font-size);
    overflow-y: hidden;
    overflow-x: auto;

    display: grid;
    // @formatter:off
    grid-template:
      ".                " 1fr
      "chart-with-labels" var(--graph-height);
    // @formatter:on
  }

  .chart {
    grid-area: chart-with-labels;
    position: relative;
    margin: auto;

    display: grid;
    grid-template: ". chart" 1fr / var(--label-width) 1fr;
  }

  .label {
    position: absolute;
    height: var(--label-height);
    display: flex;
    align-items: center;
    justify-content: flex-start;

    left: 0;
    width: var(--label-and-line-width);

    color: var(--white);
    background-color: var(--primary-neutral-darkest);
    //@formatter:off
    clip-path: polygon(
        0%                                                  0%,
        calc(var(--label-width) - var(--label-arrow-size))  0%,
        calc(var(--label-width))                            calc(var(--label-arrow-size) - (var(--label-line-width) / 2)),
        100%                                                calc(var(--label-arrow-size) - (var(--label-line-width) / 2)),
        100%                                                calc(var(--label-arrow-size) + (var(--label-line-width) / 2)),
        calc(var(--label-width))                            calc(var(--label-arrow-size) + (var(--label-line-width) / 2)),
        calc(var(--label-width) - var(--label-arrow-size))  100%,
        0% 100%
    );
    //@formatter:on
  }

  .label-value {
    text-align: right;
    width: calc(var(--label-width) - var(--label-arrow-size));
  }

  .max-label {
    top: 0;
  }

  .zero-label {
    bottom: 0;
  }

  .member-stats {
    grid-area: chart;
    position: relative;

    display: grid;
    grid-template-columns: repeat(var(--events-number), var(--event-size));
    grid-template-rows: var(--graph-height);
  }

  .tendency {
    position: absolute;
    height: 100%;
    width: calc(var(--events-number) * var(--event-size));
    background-color: var(--secondary-neutral);
    z-index: var(--z-index-tendency);
  }

  .member-stat {
    position: relative;
  }

  .member-damage {
    height: 100%;
  }

  .bullet-point {
    position: absolute;
    top: calc(var(--ratio-from-max) * var(--drawable-graph-height));
    text-align: center;
    height: calc(var(--event-size) / 2);
    width: calc(var(--event-size) / 2);
    padding: calc(var(--event-size) / 8);
    margin: calc(var(--event-size) / 8);
    z-index: var(--z-index-bullet-points);
    background-color: var(--white);
    border: 1px solid var(--primary-neutral-darkest);
    border-radius: 50%;
  }

  .tooltip-trigger {
    position: absolute;
    top: calc(var(--ratio-from-max) * var(--drawable-graph-height));
    height: var(--event-size);
    width: var(--event-size);
    margin: 0;
    z-index: var(--z-index-tooltip-trigger);
  }

  .tooltip {
    visibility: hidden;
    margin: 0;
    padding-top: calc(var(--tooltip-font-size) / 2);
    font-size: var(--tooltip-font-size);
    z-index: var(--z-index-tooltip);

    .fa-star {
      color: var(--holy);
    }
  }

  .tooltip-trigger:hover > .tooltip {
    visibility: visible;
    position: absolute;
    top: calc(-1 * (var(--tooltip-height) + var(--tooltip-arrow-size)));
    left: calc((-1 * var(--tooltip-width) / 2) + var(--event-size) / 2);
    text-align: center;
    color: var(--white);
    background-color: var(--primary-neutral-darkest);
    height: calc(var(--tooltip-height) + var(--tooltip-arrow-size));
    width: var(--tooltip-width);

    //@formatter:off
    clip-path: polygon(
        0%                                     0%,
        100%                                   0%,
        100%                                   calc(var(--tooltip-height)),
        calc(50% + var(--tooltip-arrow-size))  calc(var(--tooltip-height)),
        50%                                    100%,
        calc(50% - var(--tooltip-arrow-size))  calc(var(--tooltip-height)),
        0%                                     calc(var(--tooltip-height))
    );
    //@formatter:on
  }

  .line {
    position: absolute;
    top: calc(var(--label-height) / 2);
    bottom: calc(var(--label-height) / 2);

    //@formatter:off
    clip-path: polygon(
        0%    calc((100% - var(--start-percent-to-max)) + (var(--offset-ratio) * var(--line-width))),
        100%  calc((100% - var(--end-percent-to-max)) + (var(--offset-ratio) * var(--line-width))),
        100%  calc(100% - var(--end-percent-to-max)),
        0%    calc(100% - var(--start-percent-to-max))
    );
    //@formatter:on
  }

  .graph-line {
    background-color: var(--primary-neutral-darkest);
    z-index: var(--z-index-graph-line);
  }

  .incoming-line {
    left: 0;
    right: 50%;
  }

  .outgoing-line {
    left: 50%;
    right: 0;
  }

  .no-line {
    visibility: hidden;
  }

  .titan-color-red {
    color: var(--red);
  }

  .titan-color-green {
    color: var(--green);
  }

  .titan-color-blue {
    color: var(--blue);
  }

  .titan-color-holy {
    color: var(--holy);
  }

  .titan-color-dark {
    color: var(--dark);
  }
}
