select {
  border-radius: 0.5rem;
  padding: 0.2rem;
  border: 1px solid var(--primary-neutral-dark);
  background-color: var(--white);
  min-width: 75px;
  outline: none;

  &:hover {
    background-color: var(--primary-neutral-lightest);
  }

  &:focus {
    box-shadow: 0 0 0.1rem 1px var(--primary-color);
  }
}
