textarea {
  padding: 0.3rem;
  border: 1px solid var(--primary-neutral);
  border-radius: 0.2rem;
  outline: none;

  &[readonly] {
    background-color: var(--light-gray);
  }

  &:focus {
    box-shadow: 0 0 0.1rem 1px var(--primary-color);
  }
}
