@import 'style/colors/theme';

@import 'style/generic/forms';
@import 'style/generic/inputs';
@import 'style/generic/buttons';
@import 'style/generic/selects';
@import 'style/generic/spinner';
@import 'style/generic/textarea';

@import 'style/app/stats';
@import 'style/app/header';
@import 'style/app/filters';
@import 'style/app/choose-side';
@import 'style/app/copy-app-key';
@import 'style/app/input-app-key';
@import 'style/app/configure-alliance';

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: var(--white);
  color: var(--black);
}

.app-title {
  align-items: center;
  display: flex;
  justify-content: center;

  img {
    height: 1em;
    width: 1em;
  }
}
