@import './style/colors/theme';

@import './style/generic/forms';
@import './style/generic/buttons';

@import './style/graph';
@import './style/header';
@import './style/choose-side';
@import './style/input-app-key';

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: var(--white);
  color: var(--black);
}

.app-title {
  align-items: center;
  display: flex;
  justify-content: center;

  img {
    height: 1em;
    width: 1em;
  }
}
